.naoentra{
	margin-top: 0%
}

html {

	scroll-behavior: smooth;
}

.gradiente{
	background-image: linear-gradient(to right,#8B4513, #4F4F4F)
}

#Sinopse {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#abertura {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#abertura h3 {
	margin-top: 10px;
	font-size: 54px;
	text-align: center;
}